<div class="lotm-rpg chat-card item-card">
    <header class="card-header">
        <img src="{{item.img}}" width="36" height="36" alt="{{item.name}}" />
        <h3>{{label}}</h3>
    </header>
    <div class="card-content">
        {{{item.system.description}}}
    </div>
</div>
